<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="well">
      <h1>Look Up Weather Conditions</h1>
      <p>What's the weather like in your city?</p>
      <div>
        <%= form_tag index_path do %>
        <%= text_field_tag :zipcode, nil, placeholder: "zipcode", autofocus: true, class: "form-control" %><br/>
        <%= submit_tag "Check Weather", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="well">
      <% if @location != nil && @location != "" && (@error == "" || @error == nil) %>
        <h1>Weather for
          <%= @location %></h1>
        <div class="row">
          <div class="col-md-7">
            <p><em>What is it like outside?</em></p>
            <p>Temperature is:<%= @temp %>° F</p>
            <p>Humidity is:<%= @humidity %>%</p>
            <p>Temperature feels like:<%= @feels_like %>° F</p>
            <p>Cloud Cover:<%= @cloudiness %>%</p>
            <p>Wind:<%= @windiness %> mph</p>
          </div>
          <div class="col-md-5">
            <p>
              <%= @weather_words%>
              <img src="http://openweathermap.org/img/w/<%= @weather_icon%>.png">
            </p>
          </div>
        </div>
      <% elsif @status == "404" %>
        <p>Error:<%= @error %>. Please Try Again.</p>
      <% else %>
        <p>Enter a zip code to check the weather!</p>
      <% end %>
    </div>
  </div>
</div>
